<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=1000">
	<style>
		@font-face {
			font-family: myFirstFont;
			src: url(SansForgetica-Regular.otf);
		}

		body {
			font-family: myFirstFont;
		}

		div#test {
			border: #000 1px solid;
			padding: 10px 40px 40px 40px;
		}

		input {
			float: right;
		}
	</style>
	<script>
		var pos = 0, test, test_status, question, choice, chA, chB, chC, chD, correct = 0;
		//
		var questions = [
		["why use virtual environment",
		"<br> <font color=\"green\"># it is setup to makes it easier to work with other people </font>"
		,""],
		["things you need to use flask",
		"<br> <font color=\"green\"># pip3 install flask flask-sqlalchemy </font>"
		,""],
		["after installing flask how do you start",
		"<br> <font color=\"green\"># create a pyhton file so app.py </font>"
		+"<br> <font color=\"green\"># we need to set up our application </font>"
		+"<br> from flask import Flask"
		+"<br> <font color=\"green\"># referencing the app.py file </font>"
		+"<br> app = Flask(__name__)"
		+"<br> "
		+"<br> <font color=\"green\"># create a index route so that when we browse to </font>"
		+"<br> <font color=\"green\"># the URL we don\'t immediately just 404 </font>"
		+"<br> <font color=\"green\"># and in flask you set up routes with the </font>"
		+"<br> <font color=\"green\"># @app of route decorator </font>"
		+"<br> @app.route(\'/\') <font color=\"green\"># url string </font>"
		+"<br> def index():"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># return a string on the browser </font>"
		+"<br> &nbsp; &nbsp; return \"Hello, World\""
		+"<br> "
		+"<br> <font color=\"green\"># runs the app </font>"
		+"<br> if __name__ == \"__main__\":"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># runs app with debug to run if error occurs will show on browser </font>"
		+"<br> &nbsp; &nbsp; app.run(debug=True)"
		+"<br> <font color=\"green\"># \"python3 app.py\" in terminal to run the app </font>"
		,""],
		["return render_template(template_name_or_list, and/or **context)",
		"Renders a template from the template folder with the given context."
		,""],
		["<font color=\"green\"># What is this?</font>"
		+"<br>{% extends \'base.html\' %}"
		+"<br>{% block head %}"
		+"<br>&lt;title&gt;Task Master&lt;/title&gt;"
		+"<br>{% endblock %}"
		+"<br>{% block body %}",
		"<br> <font color=\"green\"># Jinja is a the template engine that flask uses so </font>"
		+"<br> <font color=\"green\"># basically using a block name and endblock in the template and </font>"
		+"<br> <font color=\"green\"># in another template </font>"
		+"<br> <font color=\"green\"># that inherit that replace the block name and endblock using the extends \'base.html\' </font>"
		,""],
		["How to do css in Flask",
		"<br> <font color=\"green\"># create a static folder and css and the main.css </font>"
		+"<br> &lt;link rel=\"stylesheet\" href=\"{{ url_for(\'static\', filename=\'css/main.css\') }}\"&gt;"
		+"<br> <font color=\"green\"># same with javascript </font>"
		,""],
		["initializing the database now",
		"<br> from flask_sqlalchemy import SQLAlchemy"
		+"<br> from datetime import datetime"
		+"<br> "
		+"<br> app = Flask(__name__)"
		+"<br> <font color=\"green\"># app.config is telling our app where our database is located </font>"
		+"<br> <font color=\"green\"># SQLite colon (four slashes is an absolute path, three is a relative path) </font>"
		+"<br> app.config[\'SQLALCHEMY_DATABASE_URI\'] = \'sqlite:///test.db\'"
		+"<br> <font color=\"green\"># initialize our database with the settings from our app </font>"
		+"<br> db = SQLAlchemy(app)"
		,""],
		["Create a model",
		"<br> <font color=\"green\"># create a Todo db table that inherent from db.Model </font>"
		+"<br> class Todo(db.Model):"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># creating columns of the db table </font>"
		+"<br> &nbsp; &nbsp; id = db.Column(db.Integer, primary_key=True)"
		+"<br> &nbsp; &nbsp; content = db.Column(db.String(200), nullable=False)"
		+"<br> &nbsp; &nbsp; date_created = db.Column(db.DateTime, default=datetime.utcnow)"
		+"<br> "
		+"<br> &nbsp; &nbsp; <font color=\"green\"># return a string every time we create a new element </font>"
		+"<br> &nbsp; &nbsp; def __repr__(self):"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># return tasks and the id of that task </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; return \'&lt;Task %r&gt;\' % self.id"
		,""],
		["set up the database after created model",
		"<br> <font color=\"green\"># go to terminal and env is activate </font>"
		+"<br> <font color=\"green\"># then \"python3\" for shell then \"from app import db\"  </font>"
		+"<br> <font color=\"green\"># last \"db.create_all()\" to set up the database  </font>"
		+"<br> <font color=\"green\"># and will create a db file </font>"
		,""],
		["How to create in Flask",
		"<br> <font color=\"green\"># this route can accept now </font>"
		+"<br> <font color=\"green\"># instead of just get by default we can </font>"
		+"<br> <font color=\"green\"># now post to this route as well and send </font>"
		+"<br> <font color=\"green\"># data to our database </font>"
		+"<br> @app.route(\'/\', methods=[\'POST\', \'GET\'])"
		+"<br> def index():"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># submiting form </font>"
		+"<br> &nbsp; &nbsp; if request.method == \'POST\':"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># object form for that forum(html file) we </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># created and then we\'re just going to </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># pass in the ID of the input  </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; task_content = request.form[\'content\']"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># create a to-do object thats going to have its contents equal to the content of that input  </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; new_task = Todo(content=task_content)"
		+"<br> "
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># save the new_task object to db except fail error </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; try:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; db.session.add(new_task)"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; db.session.commit()"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return redirect(\'/\')"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; except:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return \'There was an issue adding your task\'"
		+"<br> "
		+"<br> &nbsp; &nbsp; else:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># this is going to look at </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># all of the database contents in the </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># order they were created and it\'s just </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># going to return all of them </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; tasks = Todo.query.order_by(Todo.date_created).all()"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># tasks=tasks is the context </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; return render_template(\'index.html\', tasks=tasks)"
		,""],
		["How to delete in Flask",
		"<br> <font color=\"green\"># when link is click  </font>"
		+"<br> <font color=\"green\"># &lt;a href=\"/delete/{{task.id}}\"&gt;Delete&lt;/a&gt; </font>"
		+"<br> <font color=\"green\"># decorator route matches the href url if so runs delete function </font>"
		+"<br> @app.route(\'/delete/&lt;int:id&gt;\')"
		+"<br> <font color=\"green\"># id goes to the function </font>"
		+"<br> def delete(id):"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># id is use to find the data of id </font>"
		+"<br> &nbsp; &nbsp; task_to_delete = Todo.query.get_or_404(id)"
		+"<br> "
		+"<br> &nbsp; &nbsp; <font color=\"green\"># this delete the data and redirect to homepage </font>"
		+"<br> &nbsp; &nbsp; try:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; db.session.delete(task_to_delete)"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; db.session.commit()"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; return redirect(\'/\')"
		+"<br> &nbsp; &nbsp; except:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; return \'There was a problem deleting that task\'"
		,""],
		["How to update in Flask",
		"<br> <font color=\"green\"># when link is click  </font>"
		+"<br> <font color=\"green\"># &lt;a href=\"/update/{{task.id}}\"&gt;Delete&lt;/a&gt; </font>"
		+"<br> <font color=\"green\"># decorator route matches the href url if so runs update function </font>"
		+"<br> @app.route(\'/update/&lt;int:id&gt;\', methods=[\'GET\', \'POST\'])"
		+"<br> <font color=\"green\"># id goes to the function </font>"
		+"<br> def update(id):"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># id is use to find the data of id </font>"
		+"<br> &nbsp; &nbsp; task = Todo.query.get_or_404(id)"
		+"<br> "
		+"<br> &nbsp; &nbsp; <font color=\"green\"># update.html form is submit </font>"
		+"<br> &nbsp; &nbsp; if request.method == \'POST\':"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># get new or old content value assign to task.content </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># task.content means only changing the content </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; task.content = request.form[\'content\']"
		+"<br> "
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; try:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># commit is excute update, delete, or add </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; db.session.commit()"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return redirect(\'/\')"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; except:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return \'There was an issue updating your task\'"
		+"<br> &nbsp; &nbsp; <font color=\"green\"># if post not POST go to update.html with task object </font>"
		+"<br> &nbsp; &nbsp; else:"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; <font color=\"green\"># render update.html with task object </font>"
		+"<br> &nbsp; &nbsp; &nbsp; &nbsp; return render_template(\'update.html\', task=task)"
		,""],

		["Object-relational-mapping",
		"<br> is the idea of being able to write queries like the one above, as well as much more complicated ones, using the object-oriented paradigm of your preferred programming language."
		,""],
		["Agile Development",
		"<br> refers to a software development methodology wherein a system is developed incrementally with repeated cycles of design, implementation, testing. The methodology emphasizes continuous delivery of working software that is developed, tested and fixed over short intervals that are referred to as iterations or sprints which are typically 1 to 3 weeks in duration. The methodology is guided by a set of 4 simple principals which are outlined in the Agile Manifesto:"
		+"<br> "
		+"<br> 1. Individuals and interactions over processes and tools"
		+"<br> 2. Working software over comprehensive documentation"
		+"<br> 3. Customer collaboration over contract negotiation"
		+"<br> 4. Responding to change over following a plan"
		,""],
		["Scrum",
		"<br> is a subset of Agile, is a simple and flexible Agile methodology for software development. The Scrum is not a technique or a process but a lightweight and simple framework to address complex problems of a project and deliver a high-value product creatively. The major distinguishing attributes of Scrum are as follows: simplicity, flexibility, communication and cooperation"
		,""],

		
		];
		var shq = [];
		var hq = [];
		var sq = [];
		pos = 0;
		function _(x) {
			return document.getElementById(x);
		}
		function renderQuestion() {
			test = _("test");

			if (sq.length == questions.length) {
				test.innerHTML = "<p>" + sq + "</p>";
				test.innerHTML += +"<br><p>" + hq + "</p>";
				test.innerHTML += +"<br><button onclick='nextQuestion()'>Next Question</button>";
				pos = 0;
				correct = 0;
				return false;
			}

			// if(pos >= questions.length){
			// 	test.innerHTML = "<h2>You got "+correct+" of "+questions.length+" </h2> ";
			// 	_("test_status").innerHTML = "Test Completed";
			// 	pos = 0;
			// 	correct = 0;
			// 	return false;
			// }
			var tot = questions.length - sq.length;
			var rq = [];
			var rpn = Math.floor(Math.random() * 3) + 1;
			var rn = [1, 3, 4, 2];
			rn = shuffle(rn);
			pos = Math.floor(Math.random() * questions.length);
			// pos = 0;
			while (sq.includes(pos)) {
				pos = Math.floor(Math.random() * questions.length);
				if (!sq.includes(pos)) break;
			}
			//pos = questions.length - 5;
			//pos = 0;
			//pos = questions.length;
			if (pos == questions.length)--pos;

			_("test_status").innerHTML = "Question " + (pos) + " of " + tot;
			question = questions[pos][0];
			Ans = questions[pos][1];
			mus = questions[pos][2];
			test.innerHTML = "<h3>" + question + "</h3>";
			test.innerHTML += "<button onclick='checkAnswer()'>Flip</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ";
			test.innerHTML += "<button onclick='nextQuestion()'>Next</button>";
			if (typeof (mus) != "undefined") {
				test.innerHTML += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button onclick='play(mus)'>Audio</button>";
			}
			test.innerHTML += "<p id=\"myDIV\" hidden>" + Ans + "</p>";

		}
		function checkAnswer() {
			var x = document.getElementById("myDIV");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}


		}
		function shuffle(array) {
			var currentIndex = array.length, temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}
		function nextQuestion() {
			sq.push(pos);
			//pos++;
			renderQuestion();
			window.scrollTo(0, 0);
		}

		function play(name) {
			console.log(name);
			song = "Record/Dja/" + name + ".ogg";
			var audio = new Audio(song);
			audio.play();
		}

		function HQuestion() {
			hq.push(pos);
			sq.push(pos);
			renderQuestion();
		}

		function done() {
			test.innerHTML = "<p>" + sq + "</p>";
			test.innerHTML += +"<br><p>" + hq + "</p>";
			test.innerHTML += +"<br><button onclick='nextQuestion()'>Next Question</button>";
		}
		window.addEventListener("load", renderQuestion, false);
	</script>
</head>

<body>
	<h2 id="test_status"></h2>
	<div id="test"></div>
</body>

</html>